html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

.el-cascader-panel {
  max-height: 500px;
  overflow: scroll;
}

.el-breadcrumb {
  margin-bottom: 20px;
}

.el-tooltip {
  margin: 0 5px;
}

.el-pagination {
  margin-top: 20px;
}

.el-steps {
  margin-top: 20px;
  width: 100%;
}

.el-tabs {
  margin-top: 20px;
}
