body {
  margin: 0;
  padding: 0;
}
body ul {
  padding: 0;
  margin: 0;
}
::placeholder {
  color: red;
}

#box {
  width: 580px;
  height: 340px;
  background-color: skyblue;
  background: url("../images/zzf.jpeg") no-repeat;
}
