<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form action="">
        <div>
          用户名:
          <input type="text" v-model="uname" />
        </div>
        <div>
          <!-- 加入按键修饰符，enter提交 -->
          <!-- 加入删除按键事件，delete清空 -->
          密码:
          <input
            type="password"
            v-on:keyup.enter="handleSubmit"
            v-on:keyup.delete="clearContent"
            v-model="pwd"
          />
        </div>
        <div>
          <input type="button" v-on:click="handleSubmit" value="提交" />
        </div>
        <div>
          <input type="button" v-on:click="clearContent" value="清空" />
        </div>
      </form>
    </div>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript">
      var vm = new Vue({
        el: "#app",
        data: {
          uname: "",
          pwd: "",
        },
        methods: {
          handleSubmit: function () {
            console.log(this.uname, this.pwd);
          },
          clearContent: function () {
            this.uname = "";
            this.pwd = "";
          },
        },
      });
    </script>
  </body>
</html>
