<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form action="http://www.baidu.com">
        <div>
          <span>姓名:</span>
          <span>
            <input type="text" v-model="uname" />
          </span>
        </div>
        <div>
          <!-- radio单选 -->
          <span>性别:</span>
          <span>
            <input type="radio" id="male" value="1" v-model="gender" />
            <label for="male">男</label>
            <input type="radio" id="female" value="2" v-model="gender" />
            <label for="female">女</label>
          </span>
        </div>
        <div>
          <!-- checkbox复选框 -->
          <span>爱好:</span>
          <input type="checkbox" id="ball" value="1" v-model="hobby" />
          <label for="ball">篮球</label>
          <input type="checkbox" id="sing" value="2" v-model="hobby" />
          <label for="sing">唱歌</label>
          <input type="checkbox" id="code" value="3" v-model="hobby" />
          <label for="code">写代码</label>
        </div>
        <div>
          <!-- option下拉框 -->
          <span>职业：</span>
          <select v-model="occupation">
            <option value="0">请选择职业...</option>
            <option value="1">教师</option>
            <option value="2">软件工程师</option>
            <option value="3">律师</option>
          </select>
        </div>
        <div>
          <span>个人简介</span>
          <textarea v-model="desc"></textarea>
        </div>
        <div>
          <input type="submit" value="提交" v-on:click.prevent="handle" />
        </div>
      </form>
    </div>
    <script src="js/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          uname: "Joey",
          gender: 1,
          hobby: [1, 2],
          occupation: 2,
          desc: "Hello, Vue. I'm Joey...",
        },
        methods: {
          handle: function () {
            console.log(this.uname);
            console.log(this.gender);
            console.log(this.hobby);
            console.log(this.occupation);
            console.log(this.desc);
          },
        },
      });
    </script>
  </body>
</html>
